.invoice-list {
  margin-top: 5rem;

  & .empty {
    // margin: 0 auto;
    margin-top: 12rem;
    text-align: center;

    & .content {
      margin-top: 3.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h3 {
        font-size: 2rem;
      }
      & p {
        margin-top: 1.4rem;
        font-size: 1.2rem;
        width: 30%;
      }
    }
  }
}
