// colors

// primary
$primary-dark-blue: #7c5dfa;
$primary-light-blue: #9277ff;
$primary-darker-blue: #1e2139;
$primary-very-dark-blue: #252945;

// secondary
$secondary-very-light-blue: #dfe3fa;
$secondary-lighter-blue: #888eb0;
$secondary-light-blue: #7e88c3;
$secondary-darker-blue: #0c0e16;
// tertiary
$tertiary-dark-red: #ec5757;
$tertiary-light-red: #ff9797;
$tertiary-light-bg: #f8f8fb;
$tertiary-very-dark-blue: #141625;

$test-color: green;

// Font weight
$medium: 500;
$semi-bold: 600;
$bold: 700;

// utils
$pointer: pointer;
