.invoice {
  display: grid;
  grid-template-columns: (0.6fr 1fr 1fr 1fr 0.8fr 0.1fr);
  gap: 2.3rem;
  align-items: center;
  margin-top: 2.5rem;
  @include box-shadow;
  padding: 2rem 3rem;
  @include border-radius;
  transition: all 650ms;

  &:hover {
    border: 1px solid $primary-dark-blue;
  }

  &__id,
  &__payment-due,
  &__client-name {
    font-size: 1.3rem;
  }

  &__id {
    color: $secondary-darker-blue;
    font-weight: $bold;

    & span {
      color: #7e88c3;
    }
  }

  &__payment-due {
    color: $secondary-light-blue;
    font-weight: $medium;
  }

  &__client-name {
    font-weight: $medium;
    color: #858bb2;
    text-align: center;
  }

  &__price {
    font-size: 1.7rem;
    font-weight: $bold;
    color: $secondary-darker-blue;
    text-align: end;
  }

  & button {
    padding: 1.2rem 1rem;

    border: none;
    margin-left: 1rem;
  }

  &__arrow {
    justify-self: flex-end;
  }

  // & button,
  // &__arrow {
  //   justify-self: flex-end;
  // }
}

.paid {
  background: #33d6a01e !important;
  color: #33d69f !important;
}
.pending {
  background: rgba(255, 143, 0, 0.06) !important;
  color: #ff8f00 !important;
}
.draft {
  background: rgba(55, 59, 83, 0.06) !important;
  color: #373b53 !important;
}
